#Django
Django==5.1.5
asgiref==3.8.1
sqlparse==0.5.3

#Gunicorn
gunicorn==23.0.0
packaging==24.2

#Postgres
psycopg2-binary==2.9.10

#Whitenoise - Static Files
whitenoise==6.9.0

# Database URL parsing
dj-database-url==3.0.1