<!DOCTYPE html>
<html lang="en" data-theme="dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="A score keeper for VR golf tournaments" />
        <meta name="keywords" content="VR Golf Scores" />
        <title>VR Score Keeper</title>
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css" />
        {% load static %}
        <link rel="manifest" href="{% static 'manifest.json' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'img/icons/favicon.ico' %}" >
    </head>
    <body>
        <div class="container">
            <nav class="navbar is-transparent"
                 role="navigation"
                 aria-label="main navigation">
                <div class="navbar-brand">
                    <a href="{% url 'index' %}">
                        <h1 class="navbar-item is-size-3 has-text-info px-6">VR Tournament</h1>
                    </a>
                    <a role="button"
                       class="navbar-burger"
                       data-target="navMenu"
                       aria-label="menu"
                       aria-expanded="false">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <div class="navbar-menu  mx-4" id="navMenu">
                    <div class="navbar-end">
                        <div class="navbar-item">
                            <div class="buttons">
                                <a class="button is-info" href="{% url 'players' %}">Players</a>
                                <a class="button is-info" href="{% url 'tournaments' %}">Tournaments</a>
                                <a class="button is-info" href="{% url 'matches' %}">Matches</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <section class="section">
            <div class="container">
                {% block content %}
                {% endblock content %}
            </div>
        </section>
        <script>
            document.addEventListener('DOMContentLoaded', () => {

                // Get all "navbar-burger" elements
                const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

                // Add a click event on each of them
                $navbarBurgers.forEach(el => {
                    el.addEventListener('click', () => {

                        // Get the target from the "data-target" attribute
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);

                        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');

                    });
                });

            });
        </script>
    </body>
</html>
