<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VR Score Keeper</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>
<body>
    <div class="container">
    <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
                <h1 class="navbar-item is-size-3 has-text-info px-6">VR Tournament</h1>
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-menu  mx-4">
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-info" href="{% url 'players' %}">Players</a>
                        <a class="button is-info" href="{% url 'tournament_list' %}">Tournaments</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div>
    <section class="section">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </section>
</body>
</html>