{% extends "base.html" %}

{% block content %}
  <h1 class="is-size-3 mb-4">Matches</h1>

  {% for tournament in tournaments %}
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">{{ tournament.name }}</p>
        <p class="card-header-title is-pulled-right">{{ tournament.date }}</p>
      </header>
      <div class="card-content pt-1">
        <table class="table is-fullwidth">
          <thead>
            <th class="is-size-7">Date</th>
            {% for player in tournament.players.all %}<th class="is-size-7">{{ player }}</th>{% endfor %}
          </thead>
          <tbody>
            {% for match in tournament.matches.all %}
              <tr>
                <td>
                  <a href="{% url 'delete_match' match.pk %}"
                     class="button is-small is-danger is-outlined">{{ match.date|date:"m/d/y" }}</a>

                </td>
                {% for player in tournament.players.all %}
                  {% for score in match.scores.all %}
                    {% if score.player == player %}<td>{{ score.score }}</td>{% endif %}
                  {% endfor %}
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endfor %}
{% endblock content %}
