{% extends "base.html" %}

{% block content %}
    <div class="title">{{ tournament.name }}</div>
    <div class="subtitle">{{ tournament.date }}</div>
    <p>
        <span class="is-size-6 has-text-weight-semibold">Date:</span>
        <span class="is-size-7">08/13/2025</span>
    </p>
    <table class="table is-fullwidth is-narrow is-striped">
        <thead>
            <th class="is-size-7">Match</th>
            {% for player in registered_players %}<th class="is-size-7">{{ player }}</th>{% endfor %}
            <th class="is-size-7">Delete</th>
        </thead>
        <tbody>
            {% for match in matches %}
                <tr>
                    <th class="has-text-centered">7</th>
                    {% for player in registered_players %}
                        {% for score in match.scores.all %}
                            {% if score.player == player %}<td class="has-text-centered">{{ score.score }}</td>{% endif %}
                        {% endfor %}
                    {% endfor %}
                    <td>
                        <form id="form-{{ match.pk }}"
                              action="{% url 'delete_match' match.pk %}"
                              method="post">
                            {% csrf_token %}
                            <button class="button is-danger is-dark is-outlined is-small js-modal-trigger"
                                    type="button"
                                    data-target="delete-modal"
                                    data-form-id="form-{{ match.pk }}">
                                <span class="icon">
                                    <i class="fas fa-trash"></i>
                                </span>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <table class="table is-fullwidth">
        <thead>
            <th>Players</th>
        </thead>
        <tbody>
            {% for player in registered_players %}
                <tr>
                    <td>{{ player.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <form action="{% url 'delete_tournament' tournament.pk %}" method="post">
        {% csrf_token %}
        <button type="submit" class="button is-danger is-outlined">DELETE</button>
    </form>

    <div id="delete-modal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Delete Match</p>
            </header>
            <section class="modal-card-body">
                Are you sure you want to delete this match?
            </section>
            <footer class="modal-card-foot">
                <div class="buttons">
                    <button id="delete-confirm-button" class="button is-danger">Delete</button>
                    <button class="button cancel-button">Cancel</button>
                </div>
            </footer>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            let formIdToSubmit = null;

            // Functions to open and close a modal
            function openModal($el) {
                $el.classList.add('is-active');
            }

            function closeModal($el) {
                $el.classList.remove('is-active');
            }

            function closeAllModals() {
                (document.querySelectorAll('.modal') || []).forEach(($modal) => {
                    closeModal($modal);
                });
            }

            // Add a click event on buttons to open a specific modal
            (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
                const modalId = $trigger.dataset.target;
                const $target = document.getElementById(modalId);

                $trigger.addEventListener('click', () => {
                    formIdToSubmit = $trigger.dataset.formId;
                    openModal($target);
                });
            });

            // Add a click event on various child elements to close the parent modal
            (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .cancel-button') || []).forEach(($close) => {
                const $target = $close.closest('.modal');

                $close.addEventListener('click', () => {
                    closeModal($target);
                });
            });

            // Add a keyboard event to close all modals
            document.addEventListener('keydown', (event) => {
                if (event.key === "Escape") {
                    closeAllModals();
                }
            });

            // Add a click event to the confirm delete button
            document.getElementById('delete-confirm-button').addEventListener('click', () => {
                if (formIdToSubmit) {
                    document.getElementById(formIdToSubmit).submit();
                }
            });
        });
    </script>
{% endblock content %}
