{% extends 'base.html' %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title">Tournaments</h1>
            <form method="post" class="box">
                {% csrf_token %}
                {% if form.errors %}
                <div class="notification is-danger">
                    <ul>
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <div class="field">
                    <label class="label">Tournament Name</label>
                    <div class="control">
                        {{ form.name }}
                    </div>
                </div>
                <div class="field">
                    <label class="label">Date</label>
                    <div class="control">
                        {{ form.date }}
                    </div>
                </div>
                <button class="button is-primary" type="submit">Create Tournament</button>
            </form>
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>Tournament Name</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tournament in tournaments %}
                        <tr>
                            <td>{{ tournament.name }}</td>
                            <td>{{ tournament.date }}</td>
                            <td>
                                <a href="{% url 'tournament_details' pk=tournament.pk %}" class="button is-link">View Details</a>
                                <a href="{% url 'delete_tournament' pk=tournament.pk %}" class="button is-danger">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}